/src/main/resources/data/map_matched_trajectories_labels.geojson
/src/main/resources/data/prepare/trajectories_chengdu.txt
/src/main/resources/data/roadnetwork_chengdu_origin.csv
/src/main/resources/data/trajectories_chengdu.txt
